<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="https://www.google.com/maps/dir//Gundurao+Estate,+Kaggodlu+Village+and+Post,+Madikeri,+Karnataka+571201,+India/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ba5007546c50f1f:0x17b56323286d6bbc?sa=X&ved=2ahUKEwi1qpyel5LjAhXKrVkKHUg4ALUQ9RcwC3oECA0QDQ">Directions</a></li>
            <li><a href="https://www.google.com/travel/hotels/kotekad%20plantation%20stay%20coorg/entity/CgoIvNe1w7Lk2NoXEAE/prices?g2lb=2502405%2C2502548%2C4208993%2C4254308%2C4258168%2C4260007%2C4274032%2C4276661%2C4276710%2C4282066%2C4288815%2C4296668%2C4299259%2C4301054%2C4308216%2C4309597%2C4309772%2C4315873%2C4316112%2C4317816%2C4319427%2C4319577%2C4270859%2C4284970%2C4292954&hl=en&gl=in&un=1&q=kotekad%20plantation%20stay%20coorg&rp=ELzXtcOy5NjaFzgCQABIAQ&ictx=1&ved=0ahUKEwiduuGB7LzlAhW0juYKHYKgBYUQjLsCCGEwBw&hrf=KhYKBwjjDxALGAwSBwjjDxALGA0YASgA&tcfs=EhoaGAoKMjAxOS0xMS0xMhIKMjAxOS0xMS0xM1IA">Book Now</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
