<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="https://www.google.com/maps/dir//Gundurao+Estate,+Kaggodlu+Village+and+Post,+Madikeri,+Karnataka+571201,+India/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ba5007546c50f1f:0x17b56323286d6bbc?sa=X&ved=2ahUKEwi1qpyel5LjAhXKrVkKHUg4ALUQ9RcwC3oECA0QDQ">Directions</a></li>
            <li><a href="https://www.google.com/travel/hotels/entity/CgoIvNe1w7Lk2NoXEAE/overview?g2lb=4208993%2C4223281%2C4252073%2C4253230%2C4254308%2C4258168%2C4258961%2C4260007%2C4262509%2C4265959%2C4270442%2C4274032%2C4274649%2C4276914%2C4276917%2C4279424%2C4250437%2C4251519%2C4265427%2C4270859&hl=en&gl=us&un=1&rp=OAJAAEgB&ictx=1&ved=2ahUKEwjjt5r_gZLjAhWFnOAKHfQwDlwQj9UCKAAwEnoECBkQAQ&hrf=IgNVU0QqFgoHCOMPEAgYCBIHCOMPEAgYCRgBIAGCASUweDNiYTUwMDc1NDZjNTBmMWY6MHgxN2I1NjMyMzI4NmQ2YmJjmgEnGiUweDNiYTUwMDc1NDZjNTBmMWY6MHgxN2I1NjMyMzI4NmQ2YmJj&tcfs=EhoaGAoKMjAxOS0wOC0wOBIKMjAxOS0wOC0wOSIYCgoyMDE5LTA4LTA4EgoyMDE5LTA4LTA5UgA">Book Now</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
